Samples/Orchestrations/BPELImport/BPELSource/OrderShipping.wsdl

<?xml version="1.0"?>
<definitions name="OrderShippingWSDL"
        targetNamespace="http://contoso.org/samples"
        xmlns:tns="http://contoso.org/samples"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
		    xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" 
		    xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        >

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of services participating in this BPEL process 
     The default output of the BPELZ wizard uses Strings as input and 
     output to the BPEL Process. But you can define or import any XML 
     Schema type and us them as part of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xs:import namespace="http://contoso.org/samples" schemaLocation="OrderMessage.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="OrderAckMessage.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="ShipRequestMessage.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="ShipRequestAckMessage.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="PickupNotificationMessage.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="ShipStatusMessage.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="ShippingHistory.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="InvoiceMessage.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="InvoiceAckMessage.xsd"/>
  <xs:import namespace="http://contoso.org/samples" schemaLocation="PaymentConfirmationMessage.xsd"/>

  <bpws:property name="Ship_Acknowledged" type="xs:boolean"/>
  <bpws:propertyAlias propertyName="tns:Ship_Acknowledged"
		messageType="tns:ShipRequestAckMessageType"
		part="ShipRequestAckMessagePart"
		query="/*[local-name()='ShipRequestAckMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='Ack' and namespace-uri()='http://contoso.org/samples']"/>

  <bpws:property name="Ship_Completed" type="xs:boolean"/>
  <bpws:propertyAlias propertyName="tns:Ship_Completed"
		messageType="tns:ShippingHistoryMessageType"
		part="ShippingHistoryPart"
		query="/*[local-name()='ShippingHistory' and namespace-uri()='http://contoso.org/samples']/*[local-name()='Completed' and namespace-uri()='http://contoso.org/samples']"/>

  <bpws:property name="ShipStatus" type="xs:string"/>
  <bpws:propertyAlias propertyName="tns:ShipStatus"
		messageType="tns:ShipStatusMessageType"
		part="ShipStatusMessagePart"
		query="/*[local-name()='ShipStatusMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='Status' and namespace-uri()='http://contoso.org/samples']"/>


  <bpws:property name="OrderID" type="xs:string"/>
  <bpws:propertyAlias propertyName="tns:OrderID"
		messageType="tns:OrderMessageType"
		part="OrderMessagePart"
		query="/*[local-name()='OrderMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='OrderHeader' and namespace-uri()='http://contoso.org/samples/Fragments']/*[local-name()='OrderID' and namespace-uri()='http://contoso.org/samples/Fragments']"/>
  <bpws:propertyAlias propertyName="tns:OrderID"
		messageType="tns:ShipRequestMessageType"
		part="ShipRequestMessagePart"
		query="/*[local-name()='ShipRequestMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='OrderHeader' and namespace-uri()='http://contoso.org/samples/Fragments']/*[local-name()='OrderID' and namespace-uri()='http://contoso.org/samples/Fragments']"/>
  <bpws:propertyAlias propertyName="tns:OrderID"
		messageType="tns:PickupNotificationMessageType"
		part="PickupNotificationMessagePart"
		query="/*[local-name()='PickupNotificationMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='OrderID' and namespace-uri()='http://contoso.org/samples']"/>
  <bpws:propertyAlias propertyName="tns:OrderID"
		messageType="tns:ShipStatusMessageType"
		part="ShipStatusMessagePart"
		query="/*[local-name()='ShipStatusMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='OrderID' and namespace-uri()='http://contoso.org/samples']"/>
  <bpws:propertyAlias propertyName="tns:OrderID"
		messageType="tns:InvoiceMessageType"
		part="InvoiceMessagePart"
		query="/*[local-name()='InvoiceMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='OrderHeader' and namespace-uri()='http://contoso.org/samples/Fragments']/*[local-name()='OrderID' and namespace-uri()='http://contoso.org/samples/Fragments']"/>
  <bpws:propertyAlias propertyName="tns:OrderID"
		messageType="tns:PaymentConfirmationMessageType"
		part="PaymentConfirmationMessagePart"
		query="/*[local-name()='PaymentConfirmationMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='OrderID' and namespace-uri()='http://contoso.org/samples']"/>
  <bpws:propertyAlias propertyName="tns:OrderID"
		messageType="tns:ShipRequestAckMessageType"
		part="ShipRequestAckMessagePart"
		query="/*[local-name()='ShipRequestAckMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='OrderID' and namespace-uri()='http://contoso.org/samples']"/>
  <bpws:propertyAlias propertyName="tns:OrderID"
		messageType="tns:InvoiceAckMessageType"
		part="InvoiceAckMessagePart"
		query="/*[local-name()='InvoiceAckMessage' and namespace-uri()='http://contoso.org/samples']/*[local-name()='OrderID' and namespace-uri()='http://contoso.org/samples']"/>


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <plnk:partnerLinkType name="OrderingSystemLinkType">
    <plnk:role name="OrderingService">
      <plnk:portType name="tns:OrderingPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="OrderingResponseLinkType">
    <plnk:role name="OrderingServiceResponse">
      <plnk:portType name="tns:OrderingResponsePortType"/>
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="ShipperPartnerLinkType">
    <plnk:role name="ShippingService">
      <plnk:portType name="tns:Shipping"/>
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="ShipperPartnerResponseLinkType">
    <plnk:role name="ShippingResponseRole">
      <plnk:portType name="tns:ShippingResponse"/>
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="ShippingRequestorPartnerLinkType">
    <plnk:role name="ShippingRequestor">
      <plnk:portType name="tns:ShippingRequestor"/>
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="InvoiceProcessorPartnerLinkType">
    <plnk:role name="InvoiceProcessor">
      <plnk:portType name="tns:InvoiceProcessor"/>
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="InvoiceResponsePartnerLinkType">
    <plnk:role name="InvoiceResponse">
      <plnk:portType name="tns:InvoiceResponse"/>
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="FinalConfirmLinkType">
    <plnk:role name="OrderingServiceConfirmation">
      <plnk:portType name="tns:OrderingConfirmationPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>

  <!--
    <plnk:partnerLinkType name="InvoiceProcessorPartnerLinkType">
        <plnk:role name="InvoiceProcessor">
            <plnk:portType name="tns:InvoiceProcessor"/>
        </plnk:role>
    </plnk:partnerLinkType>
  -->

  <!--    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" 
                targetNamespace="http://contoso.org/samples" 
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="SyncEchoRequest">
                <complexType>
                    <sequence>
                        <element name="name" type="string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="SyncEchoResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="string"/>
                    </sequence>
                </complexType>
            </element>

        </schema>
    </types>
  -->

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <message name="OrderMessageType">
    <part name="OrderMessagePart" element="tns:OrderMessage"/>
  </message>
  <message name="OrderAckMessageType">
    <part name="OrderAckMessagePart" element="tns:OrderAckMessage"/>
  </message>
  <message name="ShipRequestMessageType">
    <part name="ShipRequestMessagePart" element="tns:ShipRequestMessage"/>
  </message>
  <message name="ShipRequestAckMessageType">
    <part name="ShipRequestAckMessagePart" element="tns:ShipRequestAckMessage"/>
  </message>
  <message name="PickupNotificationMessageType">
    <part name="PickupNotificationMessagePart" element="tns:PickupNotificationMessage"/>
  </message>
  <message name="ShipStatusMessageType">
    <part name="ShipStatusMessagePart" element="tns:ShipStatusMessage"/>
  </message>
  <message name="ShipConfirmationMessageType">
    <part name="ShipConfirmationMessagePart" element="tns:ShipConfirmationMessage"/>
  </message>
  <message name="InvoiceMessageType">
    <part name="InvoiceMessagePart" element="tns:InvoiceMessage"/>
  </message>
  <message name="InvoiceAckMessageType">
    <part name="InvoiceAckMessagePart" element="tns:InvoiceAckMessage"/>
  </message>
  <message name="PaymentConfirmationMessageType">
    <part name="PaymentConfirmationMessagePart" element="tns:PaymentConfirmationMessage"/>
  </message>
  <message name="ShippingHistoryMessageType">
    <part name="ShippingHistoryPart" element="tns:ShippingHistory"/>
  </message>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <!-- portType implemented by the OrderShippingProcess BPEL process -->
  <portType name="OrderingPortType">
    <operation name="PlaceOrder">
      <input  message="tns:OrderMessageType" />
    </operation>
  </portType>

  <portType name="OrderingResponsePortType">
    <operation name="GetOrderAck">
      <output message="tns:OrderAckMessageType"/>
    </operation>
  </portType>

  <portType name="OrderingConfirmationPortType">
    <operation name="GetOrderConfirmation">
      <output message="tns:OrderAckMessageType"/>
    </operation>
  </portType>

  <portType name="Shipping">
    <operation name="PlaceShipOrder">
      <input message="tns:ShipRequestMessageType" />
    </operation>
  </portType>

  <portType name="ShippingResponse">
    <operation name="GetShipAck">
      <output message="tns:ShipRequestAckMessageType"/>
    </operation>
  </portType>

  <portType name="ShippingRequestor">
    <operation name="GetPickupNotification">
      <input message="tns:PickupNotificationMessageType" />
    </operation>
    <operation name="GetShipStatus">
      <input  message="tns:ShipStatusMessageType" />
    </operation>
    <operation name="GetPaymentConfirmation">
      <input  message="tns:PaymentConfirmationMessageType" />
    </operation>
  </portType>

  <portType name="InvoiceProcessor">
    <operation name="ProcessInvoice">
      <input  message="tns:InvoiceMessageType" />
    </operation>
  </portType>

  <portType name="InvoiceResponse">
    <operation name="RespondInvoice">
      <output message="tns:InvoiceAckMessageType" />
    </operation>
  </portType>
  <!--    <portType name="InvoiceProcessor">
        <operation name="ProcessInvoice">
            <input  message="tns:InvoiceMessage" />
            <output message="tns:InvoiceAckMessage" />
        </operation>
    </portType>
  -->
</definitions>
